<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TF_NETSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61027/servicios_tf.asmx"
                binding="basicHttpBinding" bindingConfiguration="TF_NETSoap"
                contract="GeekHubWS.TF_NETSoap" name="TF_NETSoap" />
        </client>
    </system.serviceModel>
</configuration>