<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>  
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GeekHubWSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="GeekHubWSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44383/GeekHubWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="GeekHubWSSoap" contract="GeekHubWS.GeekHubWSSoap"
                name="GeekHubWSSoap" />
        </client>
    </system.serviceModel>
</configuration>